.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


body {
   /* ff 3.6+ */
   background: -moz-radial-gradient(ellipse at 50% 50%, rgba(36, 36, 36, 1) 0%, rgba(36, 66, 110, 1) 37%, rgba(110, 110, 110, 1) 100%);

   /* safari 5.1+,chrome 10+ */
   background: -webkit-radial-gradient(ellipse at 50% 50%, rgba(36, 36, 36, 1) 0%, rgba(36, 66, 110, 1) 37%, rgba(110, 110, 110, 1) 100%);

   /* opera 11.10+ */
   background: -o-radial-gradient(ellipse at 50% 50%, rgba(36, 36, 36, 1) 0%, rgba(36, 66, 110, 1) 37%, rgba(110, 110, 110, 1) 100%);

   /* ie 10+ */
   background: -ms-radial-gradient(ellipse at 50% 50%, rgba(36, 36, 36, 1) 0%, rgba(36, 66, 110, 1) 37%, rgba(110, 110, 110, 1) 100%);

   /* global 92%+ browsers support */
   background: radial-gradient(ellipse at 50% 50%, rgba(36, 36, 36, 1) 0%, rgba(36, 66, 110, 1) 37%, rgba(110, 110, 110, 1) 100%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
